@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400;1,700&family=Inter:wght@200&family=Poppins:wght@300;400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

/* FUNDO DA TELA INICIAL */
#background {
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#background::after {
  content: '';

  width: inherit;
  height: inherit;
  position: fixed;
  inset: 0;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/* HEADER */
#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}

header {
  width: 1240px;
  display: flex;
  align-items: center;
  column-gap: 64px;
  margin-top: 22px;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 48px;
  list-style: none;

}

.navigation__link {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  position: relative;
  transform: translateY(-5px);
}

.navigation__link:hover {
  color: orange;
}

.navigation__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 98%;
  height: 2px;
  background: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

.navigation__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s;
}

.navigation_login_and_cadastro {
  display: flex;
  margin-left: auto;
  margin-right: 120px;
  /* column-gap: 20px; */
}

.button_login {
  display: flex;
  justify-content: center;
  width: 80px;
  background-color: orange;
  transition: all 0.4s;
  text-decoration: none;
  border-radius: 0 100px 0 100px;
}

.button_login a {
  color: black;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
}

.button_login:hover {
  opacity: 1;
  transform: translateY(-5px);
  cursor: pointer;
  transition: all 0.4s;
  background-color: white;
}

.button_cadastro a {
  color: black;
  text-decoration: none;
  margin-right: 45px;
  font-weight: 500;
}

.button_cadastro {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 120px;
  transition: all 0.4s;
  border-radius: 0 100px 0 100px;
}

.button_cadastro:hover {
  cursor: pointer;
  transition: all 0.4s;
  background-color: orange;
  transform: translateY(-5px);
}

.navigation_login_and_cadastro a {
  width: 30px;
  height: 30px;
  list-style: none;
  text-decoration: none;
}


.perfil i {
  color: white;
  font-size: 35px;
}

.perfil span{
  color: white;
}

.perfil a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  position: relative;
}

.perfil a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 98%;
  height: 2px;
  background: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

.perfil a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s;
}

.esconder {
  display: none;
}


/* main */
main {
  margin-top: 8%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  color: white;
  width: 1240px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.422);
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.container img {
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

.text {
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
}

.title {
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 25px;
  width: 1280px;
  background-color: rgba(255, 255, 255, 0.421);
  border-radius: 10px 10px 0 0;
}

/* footer */
footer {
  margin-top: 40%;
  display: flex;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.418);
  font-size: 16px;
  font-weight: 300;
  flex-direction: column;
  padding: 40px;
}

.footer__info {
  max-width: 700px;
  color: white;
}

.footer__social {
  display: flex;
  column-gap: 10px;
}

.footer__social a {
  background-color: transparent;
  border: none;
  font-size: 35px;
  padding-left: 10px;
  color: white;
}

.email input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  width: 300px;
}

.email p {
  color: white;
}

.email div {
  background-color: white;
  width: 355px;
  border-radius: 5px;
}

.email div a {
  background-color: transparent;
  border: none;
  font-size: 20px;
  align-items: center;
}

.email div a:hover {
  color: orange;
  cursor: pointer;
  font-weight: bold;
}