@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400;1,700&family=Inter:wght@200&family=Poppins:wght@300;400;500;700&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

/* FUNDO DA TELA INICIAL */
#background {
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#background::after {
  content: '';

  width: inherit;
  height: inherit;
  position: fixed;
  inset: 0;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/* header */
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

header {
  width: 1240px;
  display: flex;
  align-items: center;
  column-gap: 60px;
  margin-top: 22px;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 48px;
  list-style: none;

}

.navigation__link {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  position: relative;
  transform: translateY(-5px);
}

.navigation__link:hover {
  color: orange;
}

.navigation__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 98%;
  height: 2px;
  background: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

.navigation__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s;
}

.navigation_login_and_cadastro {
  display: flex;
  margin-left: auto;
  margin-right: 120px;
  /* column-gap: 20px; */
}

.button_login {
  display: flex;
  justify-content: center;
  width: 80px;
  background-color: orange;
  transition: all 0.4s;
  border-radius: 0 100px 0 100px;
}

.button_login a {
  margin-right: 10px;
  font-weight: 500;
  color: black;
}

.button_login:hover {
  opacity: 1;
  transform: translateY(-5px);
  cursor: pointer;
  transition: all 0.4s;
  background-color: white;
}

.button_cadastro a {
  color: black;
  margin-right: 45px;
  font-weight: 500;
}

.button_cadastro {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 120px;
  transition: all 0.4s;
  border-radius: 0 100px 0 100px;
}

.button_cadastro:hover {
  cursor: pointer;
  transition: all 0.4s;
  background-color: orange;
  transform: translateY(-5px);
}

.navigation_login_and_cadastro a {
  width: 30px;
  height: 30px;
  list-style: none;
  text-decoration: none;
}



.navigation_login_and_cadastro img {
  width: 150px;
}

/* conteudo quiz */

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 800px;
}

.container {
  display: flex;
  align-items: center;
  padding: 90px;
  flex-direction: column;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.696) 10%, rgba(255, 166, 0, 0.87) 50%, rgba(0, 0, 0, 0.696) 90%);
  height: fit-content;
  width: 800px;
  max-width: 1600px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 2px 2px;

}

.questoes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.questoes-container span {
  flex-direction: column;
  display: flex;
  font-size: 22px;
  margin-bottom: 50px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
}

.numeroQuestao {
  display: flex;
  margin-bottom: 50px;
  margin-right: 350px;
}

.container-pontuacao {
  display: flex;
  margin-right: 150px;
}


.respostas-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resposta {
  background-color: white;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.4s;
}

.resposta:not(:disabled):hover {
  background-color: orange;
  color: white;
  transition: all 0.4s;
}

.resposta:disabled {
  cursor: not-allowed;
}

.controles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.controles button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  column-gap: 24px;
  margin-left: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  transition: all 0.4s;
  font-weight: bold;
}

.controles button:hover {
  background-color: orange;
  color: white;
  transition: all 0.4s;
  transform: translateY(-5px);
  font-weight: bold;
}

.esconder {
  display: none;
}

.orientacao-quiz {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.orientacao-quiz p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
}

.respostaCorreta {
  background-color: rgb(118, 235, 118);
  font-weight: bold;
}

.respostaErrada {
  background-color: rgb(225, 84, 84);
  font-weight: bold;
}


.button-final {
  background-color: white;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.4s;
}

.button-final:hover {
  background-color: orange;
  color: white;
  transition: all 0.4s;
  transform: translateY(-5px);
}

.container-finish {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-finish img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 30px 0 0px;
  width: 400px;
  height: 400px;
}

.final-mensagem {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 5px;
  width: 480px;
  height: 460px;
}

.final-mensagem span {
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.final-mensagem p {
  font-size: 20px;
}

.final-mensagem b {
  margin-left: 10px;
}

.baixo {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.medio {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}

.alto {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.button-final {
  display: flex;
  width: 200px;
  margin: 50px 0 20px 0;
  color: black;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.resultado {
  margin: 15px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;

}


.ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.696) 10%, rgba(255, 166, 0, 0.87) 50%, rgba(0, 0, 0, 0.696) 90%);
  margin-top: 40%;
  width: 900px;
  height: fit-content;
  color: white;
  border-radius: 10px;
}

.info-usuario {
  margin-top: 10px;
  text-transform: uppercase;
  display: flex;
  column-gap: 65px;
  font-size: 20px;
  margin-right: 20px;
}


#rankingList {
  margin-right: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#rankingList p {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

#rankingList p span {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
  border: 2px solid rgb(254, 254, 254);
  width: 90px;
}

.buttons {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.buttons a {
  outline: none;
  text-decoration: none;
  cursor: pointer;

}


.perfil i {
  color: white;
  font-size: 35px;
}

.perfil span {
  color: white;
}

.perfil a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  position: relative;
}

.perfil a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 98%;
  height: 2px;
  background: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

.perfil a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s;
}

.esconder {
  display: none;
}

/* footer */

footer {
  width: 95.7%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.418);
  font-size: 16px;
  font-weight: 300;
  flex-direction: column;
  padding: 40px;
  margin-top: 20%;
  color: white;
}

.footer__info {
  max-width: 700px;
}

.footer__social {
  display: flex;
  column-gap: 10px;
}

.footer__social a {
  background-color: transparent;
  border: none;
  font-size: 35px;
  padding-left: 10px;
  color: white;
}

.email input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  width: 300px;
}

.email p {
  color: white;
}

.email div {
  background-color: white;
  width: 355px;
  border-radius: 5px;
}

.email div a {
  background-color: transparent;
  border: none;
  font-size: 20px;
  align-items: center;
}

.email div a:hover {
  color: orange;
  cursor: pointer;
  font-weight: bold;
}